<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>Addison Toscani</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/aos.css">

    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body>
    <div class="KW_progressContainer">
      <div class="KW_progressBar">

      </div>
    </div>  
    <div id="colorlib-page">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="colorlib-navbar-brand">
                <a class="colorlib-logo"><span class="logo-img" style="background-image: url(images/me.png);"></span>Addison Toscani</a>
              </div>
            </div>
          </div>
        </div>
      </header>
    
      <section class="home-slider owl-carousel js-fullheight">
        <div  class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                <p><a class="scroll">Hello! I'm</a></p>
                <h1 class="mb-3">Addison Toscani</h1>
              </div>
            </div>
          </div>
        </div>
      

        <div  class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a class="scroll"></a></p>
                <p><a class="scroll">Dedicated</a></p>
                <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">Software Engineer</h1>
              </div>
            </div>
          </div>
        </div>

        <div  class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a class="scroll">Driven</a></p>
                <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">Automation Expert</h1>
              </div>
            </div>
          </div>
        </div>

        <div  class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a class="scroll">Aspiring</a></p>
                <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">Game Developer</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END slider -->

      <section class="ftco-section about-section">
        <div class="container">
          <div class="row d-flex" data-scrollax-parent="true">
            <div class="col-md-4 author-img" style="background-image: url(images/me.png);" data-scrollax=" properties: { translateY: '-70%'}"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6 wrap ftco-animate">
              <div class="about-desc">
                <h1 class="bold-text">About</h1>
                <div class="p-5">
                  <h2 class="mb-5">I'm Addison Toscani</h2>
                  <p>A full-stack developer with a preference towards the back-end, a focus in automation, and a drive for creativity.</p>
                  <h5>Contact Me here!</h5>
                  <p>Email: <a href="mailto: addisontoscani@gmail.com">addisontoscani@gmail.com</a></p>
                  <p>LinkedIn: <a href="https://www.linkedin.com/in/addison-toscani-0b0097162/">Addison Toscani</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Portfolio</span>
              <h2>Current Roles</h2>
            </div>
          </div>
          <div class="row no-gutters">
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a class="image d-flex justify-content-center align-items-center" style="background-image: url('images/net.png'); " data-scrollax=" properties: { translateY: '-30%'}">
            </a>
            <div class="text">
              <h4 class="subheading"></h4>
              <h2 class="heading">C# Library Manager</h2>
              <p>I currently maintain, develop, and improve my teams custom C# library extending it to fit whatever request comes down our pipeline be it a new API call or a custom activity to implement into our automation process.</p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('images/uipath.png'); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text order-1">
              <h4 class="subheading"></h4>
              <h2 class="heading"><a href="portfoli-singleo.html">Automation Expert Team Leader</a></h2>
              <p>I am the team leader of my company's Process Automation group. We are experts at taking processes and improving them with automation.</p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a class="image d-flex justify-content-center align-items-center" style="background-image: url('images/unity.png'); " data-scrollax=" properties: { translateY: '-30%'}">
            </a>
            <div class="text">
              <h4 class="subheading"></h4>
              <h2 class="heading"><a href="portfolio-single.html">Game Developer</a></h2>
              <p>When not working on a professional project I like to spend my time working in Unity creating games and other interactive creative endeavors.</p>
            </div>
          </div>
        </div>
        </div>
      </section>
      <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">

              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>

      <!-- loader -->
      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

      </div>

    </div>


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.easing.1.3.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.stellar.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/aos.js"></script>
    <script src="/javascripts/jquery.animateNumber.min.js"></script>
    <script src="/javascripts/scrollax.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.js"></script>
    <script src="/javascripts/jquery.timepicker.min.js"></script>
    <script src="/javascripts/main.js"></script>
    
  </body>
</html>
